<div class="contenedorMenu">
    <label class="logo" for="logo app"> app para consultar paises</label>
    <nav class="menuPrincipal">
        <ul class="menu">
            <li class="elemento"><a routerLink="/home">Home</a></li>
            <li class="elemento"><a href="#">Country</a></li>
            <li class="elemento"><a href="#">Countries</a></li>
            <li class="elemento"><a routerLink="/register">Registro</a></li>
            <li class="elemento"><a routerLink="/login">Login</a></li>
        </ul>
    </nav>
    
</div>
